{% extends 'base.html.twig' %}

{% block title %}Signaux et faits marquants{% endblock %}

{% block body %}

	{# Affichage des messages flash #}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    {{ dump(reuSig) }}
{% endblock %}
