
/////////////////////////////////////////////////////////////////////////////////////
//                                  couleurs ANSM                                  //
/////////////////////////////////////////////////////////////////////////////////////

$ANSM_vert_fonce: #048F36;
$ANSM_vert_clair: #B0C700;
$ANSM_violet: #5C2978;
$ANSM_gris_clair: #EAEAEA;
$ANSM_gris_fonce: #999999;



$fond_susar_eu_detail: #FBFDBB;
$fond_susar_eu_detail_susar_v1: #FFB6C1;
$Tab_vert_clair: #9CFFA2;
$Tab_rouge_clair: #FFB8AE;
$Entourage_susar: #604C78;
$Fond_liste_susar: #FCE6D4;
$Fond_eval_susar: #FFE1DD;
// $Fond_chp_lst_eval_susar: #E5E5E2;
$Fond_chp_lst_eval_susar: #ffffff;
$Form_vert_clair: #D2FFD5;
$Form_rouge_clair: #FFB8AE;
// $Ctnr_tab_violet_clair: #D9C7FD;
// // $Ctnr_tab_violet_fonce: #EEE6FE;
// $Ctnr_tab_violet_fonce: #be9eff;
// $Ctnr_tab_violet_clair: #e0d2ff;
// $Ctnr_tab_violet_fonce: #61c0ff;
$Ctnr_tab_violet_clair: #CDC1FF;
$Ctnr_tab_violet_fonce: #A294F9;
$Ctnr_tab_rouge_clair: #FFB6C1;
// $Ctnr_tab_rouge_fonce: #FF7F7F;
$Ctnr_tab_rouge_fonce: #F79F9F;
$Tab_lst_susar_bordure: #868686;
$Tab_lst_susar_bckgrd_sticky_col: rgba(255, 255, 255, 0.9);
// $Tab_lst_susar_bckgrd_slidy_col: rgb(201, 201, 201);
$Tab_lst_susar_bckgrd_slidy_col: #E5E5E2;


$Rdd_inactif_bg: #CACACA;
$Rdd_actif_bg: #B9FF9D;

$Suivi_inactif_bg: #CACACA;
$Suivi_actif_bg: #B9FF9D;

$Suivi_rdd_inactif_bg: #CACACA;
$Suivi_rdd_actif_bg: #B9FF9D;

// $Fond_signal: #F8B878;
// $Fond_fait_marquant: #78B8F8;
$Fond_signal: #D9BE93;
$Fond_fait_marquant: #93D1D9;
$Fond_dir_pole_concerne: #e9e9e9;

// Couleurs pour le striping des tableaux
$signal-table-striped-bg: #f5f0e8; // Un beige très clair, dérivé de $Fond_signal
$fait-marquant-table-striped-bg: #e8f5f7; // Un bleu très clair, dérivé de $Fond_fait_marquant

// Couleurs pour le striping des tableaux de la page liste des réunions
$reunion-signal-table-striped-bg: #eea5c3;
$reunion-signal-page-bg: $reunion-signal-table-striped-bg; // Fond pour la page de la liste des réunions

// Couleurs pour la page détail des réunions
$reunion-signal-tab-bg: #F79F9F;
$reunion-signal-tab-actif: #F79F9F;
$reunion-signal-tab-inactif: #FFB6C1;
$reunion-signal-card-sig-lie-bg: #b9ffb6;
$reunion-signal-card-sig-non-lie-bg: #9e9e9e;
