
@use "sass:color";
@use "_variables" as *;

.btn-action-mesure {
    width: 95px;
}

.rdd-actif {
    background-color: $Rdd_actif_bg; // Pour la card
    --bs-table-accent-bg: #{$Rdd_actif_bg}; // Couleur de base pour la ligne (lignes paires)
    --bs-table-striped-bg: #{color.adjust($Rdd_actif_bg, $lightness: -5%)}; // Couleur pour les lignes impaires (striping)
    --bs-table-hover-bg: #{color.adjust($Rdd_actif_bg, $lightness: -10%)}; // Couleur pour le survol
}

.rdd-inactif {
    background-color: $Rdd_inactif_bg; // Pour la card
    --bs-table-accent-bg: #{$Rdd_inactif_bg}; // Couleur de base pour la ligne (lignes paires)
    --bs-table-striped-bg: #{color.adjust($Rdd_inactif_bg, $lightness: -5%)}; // Couleur pour les lignes impaires (striping)
    --bs-table-hover-bg: #{color.adjust($Rdd_inactif_bg, $lightness: -10%)}; // Couleur pour le survol
}
