@use "_variables" as *;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";


.page-reunion-signal-detail {
    .nav-tabs .nav-link {
        color: $gray-600;
        border-bottom-width: 3px;
        border-bottom-color: transparent;

        &.active {
            color: $primary;
            border-color: $primary;
            background-color: transparent;
        }
    }

    .tab-content {
        background-color: $white;
        border: 1px solid $gray-200;
        border-top: none;
        border-radius: 0 0 0.375rem 0.375rem;
    }

    .badge-count {
        font-size: 0.75em;
        vertical-align: top;
        margin-left: 4px;
    }
}