@use "sass:color";
@use "_variables" as *;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

body.reunion-signal-detail-bg {
    background-color: color.mix($reunion-signal-page-bg, #f5f5f5, 25%);
}

.page-reunion-signal-detail {
    .nav-tabs {
        border-bottom: none;
    }

    .nav-tabs .nav-link {
        background-color: $reunion-signal-tab-inactif;
        color: $white;
        border: none;
        margin-right: 4px;
        border-radius: 0.5rem 0.5rem 0 0;

        &.active {
            background-color: $reunion-signal-tab-actif;
            color: $white;
            font-weight: bold;
        }
    }

    .tab-content {
        background-color: $reunion-signal-tab-bg;
        border-radius: 0 0 0.375rem 0.375rem;
    }

    .badge-count {
        font-size: 0.75em;
        vertical-align: top;
        margin-left: 4px;
    }

}

.card-sig-lie-bg {
    background-color: $reunion-signal-card-sig-lie-bg;
}

.card-sig-non-lie-bg {
    background-color: $reunion-signal-card-sig-non-lie-bg;
}