// assets/styles/tables.scss
@use "sass:color";
@use "variables" as *;

// Styles pour la table des signaux
.page-signal .table-striped {
    --bs-table-striped-bg: #{$signal-table-striped-bg};
    --bs-table-hover-bg: #{color.adjust($signal-table-striped-bg, $lightness: -5%)};
}

// Styles pour la table des faits marquants
.page-fait-marquant .table-striped {
    --bs-table-striped-bg: #{$fait-marquant-table-striped-bg};
    --bs-table-hover-bg: #{color.adjust($fait-marquant-table-striped-bg, $lightness: -5%)};
}
