{% extends 'base.html.twig' %}

{% block title %}Signal
{% endblock %}

{% block body %}
	<div class="display-4 text-center mt-0 mb-0">Signal</div>
	{# <div class="container-fluid px-5"> #}
	<div class="container-md">

		{{ form_start(form) }}

		{{ form_end(form) }}

	</div>
{% endblock %}
